/* examples of css flex wrap etc */
li{
    list-style-type: none;
    padding: 10px;
}
.home{
    order:1;
}
header{
    background-color: burlywood;
}

ul {
    display: flex;
} /*flex direction: row -reverse*/

main{
    display: flex;
    flex-wrap: wrap;
    align-items: flex;

}

p{
    width: 200px;
}
.my-image{
    flex-grow: 4;
}

.contact{
    margin-left:200px;
}

p:nth-last-child(odd){
    background-color:lightpink;
}
.wrapper{
    display: grid;
    grid-template-columns: calc;
    grid-column-gap: 10px;
    grid-row-gap:30px;
}