/* examples of css flex wrap etc */
li{
    list-style-type: none;
    padding: 10px;
}
.home{
    order:1;
}
header{
    background-color: burlywood;
}

ul {
    display: flex;
}

main{
    display: flex;
    flex-wrap: wrap;
    align-items: flex;

}

p{
    width: 200px;
}