.header-text {
  color: aquamarine;
}
/* added a background image as well as other images layered on top  */
body {
  background-image:url('white-bookshelf.jpeg');
  padding: 2rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
p {
  color:rgb(57, 57, 185)
  text-indent:40px;
  text-transform: uppercase;
}

h1{
  color:rgb(147, 43, 147);
}
h2{
  color:blueviolet;
}
h3{
  color:rgb(9, 101, 101);
}

/* ul{ */
  color:brown;
/* } */


