p:hover {
  background-color: aqua;
}
li:nth-child(even) {
  color: aquamarine;
}
section {
  height: 100%;
  border: 1px solid black;
}
h1 {
    color:palevioletred;
    text-align: center;
    text-decoration: dotted;
  height: calc(100% - 15px);
}
